<p>
  <span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
  <span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
</p>

<h1>Show Event #<%= @post.id %></h1>
<ul>
  <li>
    Name: 
    <%= @post.name %>
  </li>

  <li>
    Date: 
    <%= @post.date %>
  </li>

  <li>
    <%= @post.description %>
  </li>
</ul>

<span>
  <%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %>
</span>
